body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo{
    border: 2px solid black;
    padding: 50px;
    border-radius: 10% 5%;
    background: rgb(34,193,195);
background: linear-gradient(24deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.form{
    display: flex;
    gap: 10px;
}
#inpt{
    font-size: large;
    flex-grow: 1;
    padding: 5px;
    border-radius:20px;
}
button{
    font-size: large;
    background-color:rgb(68, 154, 225);
    border-radius: 10px;
}
li{
    list-style: none;
    font-size: x-large;
}
li > button{
    margin-left: 20px;
}